.pics__grid {
  max-width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
  /*grid-template-rows: repeat(auto-fit, 361px);*/
}
