.profile {
  width: calc(100% - 54px);
  max-width: 880px;
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-template-rows: 70px 43px;
  row-gap: 9px;
  margin: 0;
  padding: 40px 0 50px;
  line-height: 0;
  position: relative;
}

@media screen and (max-width: 767px) {
  .profile {
    width: calc(100% - 38px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-top: 42px;
    padding-bottom: 36px;
  }
}
