.profile__description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-self: start;
  align-self: start;
}

@media screen and (max-width: 767px) {
  .profile__description {
    align-self: center;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 33px;
  }
}
